.the_weather_container{
    width: 400px;
    height: 500px;
    margin: auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 25px;
}
.the_weather_container .show img{
    width: 200px;
}
.the_weather_container .show h1{
    font-size: 30px;
}
.the_weather_container p:nth-child(3){
    color: white ;
    font-size: 20px;
}
#inputCityName{
    margin-top: 30px;
}
#inputCityName input, #inputCityName button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}
#inputCityName button{
    background: white;
    cursor: pointer;
    transition: 0.7s;

}
